@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f1f5f9;
}

#forge-admin-suite-root {
  padding: 16px 0;
}
